<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
               xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
               xmlns:context="http://www.springframework.org/schema/context"
               xsi:schemaLocation="
               http://www.springframework.org/schema/beans
               http://www.springframework.org/schema/beans/spring-beans.xsd 
               http://www.springframework.org/schema/context
               http://www.springframework.org/schema/context/spring-context.xsd">


    <bean id="userService" class="com.itheima.service.impl.UserServiceImpl" autowire="byName"></bean>

    <bean id="userDao" class="com.itheima.dao.impl.UserDaoImpl"></bean>

<beans profile="dev">
    <bean id="userService1" class="com.itheima.service.impl.UserServiceImpl" autowire="byName"></bean>

    <bean id="userDao1" class="com.itheima.dao.impl.UserDaoImpl"></bean>
</beans>
<beans profile="test">
    <bean id="userService2" class="com.itheima.service.impl.UserServiceImpl" autowire="byName"></bean>

    <bean id="userDao2" class="com.itheima.dao.impl.UserDaoImpl"></bean>
</beans>
<!--<bean id="userDao" class="com.itheima.factory.MyBeanFactory" factory-method="userDao"></bean>-->
    <!--配置userServiceImpl-->
<!--<bean id="userService" class="com.itheima.service.impl.UserServiceImpl" init-method="init" destroy-method="destroy">-->
    <!--name为dao层里面set方法的名称-->
<!--<property name="userDao" ref="userDao"></property>-->
<!--</bean>-->
    <!--配置userDao-->
<!--<bean id="userDao" class="com.itheima.dao.impl.UserDaoImpl"></bean>-->
</beans>